# Khulnasoft host (default: localhost)
host=$host
# Khulnasoft admin port (default: 8089)
port=$port
# Khulnasoft username
username=$username
# Khulnasoft password
password=$password
# Access scheme (default: https)
scheme=$scheme
# Your version of Khulnasoft (default: 6.2)
version=$version
# Bearer token for authentication
#khulnasoftToken=<Bearer-token>
# Session key for authentication
#token=<Session-Key>